@model ProjectTags.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebClientIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebClientIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
